[[plugins]]
repo = 'Shougo/context_filetype.vim'

[[plugins]]
repo = 'Shougo/deol.nvim'
depends = ['ddu.vim', 'ddc.vim']
on_source = ['ddu.vim']
hooks_file = '$BASE_DIR/deol.vim'

[[plugins]]
repo = 'Shougo/junkfile.vim'
on_source = ['ddu.vim']
hook_add = '''
  nnoremap se <Cmd>Ddu junkfile -source-option-volatile<CR>
'''

[[plugins]]
repo = 'Shougo/vinarise.vim'
on_cmd = 'Vinarise'
hook_add = '''
  let g:vinarise_enable_auto_detect = v:true
  let g:vinarise_guifont = 'Courier\ 10\ Pitch:h14'
'''

[[plugins]]
repo = 'kana/vim-niceblock'
on_map = { x = '<Plug>' }
hook_add = '''
  xmap I  <Plug>(niceblock-I)
  xmap A  <Plug>(niceblock-A)
'''

[[plugins]]
repo = 'thinca/vim-qfreplace'
on_ft = ['qf']
[plugins.ftplugin]
qf = '''
  nnoremap <buffer> r <Cmd>Qfreplace<CR>
'''

[[plugins]]
repo = 'itchyny/vim-qfedit'
on_ft = ['qf']

[[plugins]]
repo = 'tyru/open-browser.vim'

[[plugins]]
repo = 'rhysd/vim-operator-surround'
depends = 'vim-operator-user'
on_map = { n = '<Plug>' }
hook_add = '''
  nmap sa <Plug>(operator-surround-append)
  nmap sd <Plug>(operator-surround-delete)a
  nmap sr <Plug>(operator-surround-replace)a
  nmap sc <Plug>(operator-surround-replace)a
'''

[[plugins]]
repo = 'kannokanno/previm'
on_cmd = 'PrevimOpen'
depends = 'open-browser.vim'

[[plugins]]
repo = 'osyo-manga/vim-jplus'
on_map = { n = '<Plug>' }
hook_add = '''
  nmap J <Plug>(jplus)
'''

# [[plugins]]
# repo = 'katono/rogue.vim'

[[plugins]]
repo = 'lambdalisue/vim-findent'

[[plugins]]
repo = 'tweekmonster/helpful.vim'
on_cmd = 'HelpfulVersion'

[[plugins]]
repo = 'rhysd/vim-gfm-syntax'
on_ft = 'markdown'

[[plugins]]
repo = 'machakann/vim-vimhelplint'
on_ft = 'help'
[plugins.ftplugin]
help = '''
  nnoremap <buffer> ,r  <Cmd>VimhelpLint!<CR>
'''

[[plugins]]
repo = 'mattn/vim-goimports'
on_ft = 'go'
hook_source = '''
  let g:goimports_simplify = v:true
'''

[[plugins]]
repo = 'dag/vim2hs'
on_ft = 'haskell'
hook_source = '''
  let g:haskell_conceal = v:false
'''

#[[plugins]]
#repo = 'teal-language/vim-teal'
#on_ft = 'teal'

[[plugins]]
repo = 'github/copilot.vim'
on_cmd = 'Copilot'
hook_source = '''
  let g:copilot_no_maps = v:true
  "let g:copilot_node_command = '/snap/bin/node'
  let g:copilot_hide_during_completion = 0
  imap <silent><expr> <C-g> copilot#Accept()
  imap <silent><expr> <C-n> copilot#Next()
  imap <silent><expr> <C-p> copilot#Previous()

  " Enable copilot for text files
  let g:copilot_filetypes = #{
    \   gitcommit: v:true,
    \   markdown: v:true,
    \   text: v:true,
    \   yaml: v:true,
    \   ddu-ff-filter: v:false,
    \ }
'''

[[plugins]]
repo = 'Exafunction/codeium.vim'
on_cmd = ['Codeium']
hook_source = '''
  let g:codeium_disable_bindings = 1
  let g:codeium_render = v:false

  "inoremap <expr> <C-g> codeium#Accept()
  "inoremap <C-x> <Cmd>call codeium#Clear()<CR>

  " Enable copilot for text files
  let g:codeium_filetypes = #{
    \   gitcommit: v:true,
    \   markdown: v:true,
    \   text: v:true,
    \   yaml: v:true,
    \   ddu-ff-filter: v:false,
    \ }
'''

[[plugins]]
repo = 'Shougo/qselect.vim'
