[[plugins]]
repo = 'Shougo/junkfile.vim'
on_source = ['ddu.vim']
hook_add = '''
  nnoremap se <Cmd>Ddu junkfile -source-option-junkfile-volatile<CR>
'''

[[plugins]]
repo = 'Shougo/cmdline.vim'
on_source = ['ddu.vim']
hook_add = '''
  cnoremap <CR>  <Cmd>call cmdline#disable()<CR><CR>
'''
hook_source = '''
  call cmdline#set_option(#{
    \   highlight_window: 'None',
    \ })
'''

[[plugins]]
repo = 'kana/vim-niceblock'
on_map = { x = '<Plug>' }
hook_add = '''
  xnoremap I  <Plug>(niceblock-I)
  xnoremap A  <Plug>(niceblock-A)
'''

[[plugins]]
repo = 'thinca/vim-qfreplace'
on_ft = ['qf']
[plugins.ftplugin]
qf = '''
  nnoremap <buffer> r <Cmd>Qfreplace<CR>
'''

[[plugins]]
repo = 'itchyny/vim-qfedit'
on_ft = ['qf']

[[plugins]]
repo = 'rhysd/vim-operator-surround'
depends = 'vim-operator-user'
on_map = { n = '<Plug>' }
hook_add = '''
  nnoremap sa <Plug>(operator-surround-append)
  nnoremap sd <Plug>(operator-surround-delete)a
  nnoremap sr <Plug>(operator-surround-replace)a
  nnoremap sc <Plug>(operator-surround-replace)a
'''

[[plugins]]
repo = 'previm/previm'
on_ft = ['markdown', 'rst']
hook_source = '''
  let g:previm_open_cmd = 'xdg-open'
'''

# [[plugins]]
# repo = 'katono/rogue.vim'

[[plugins]]
repo = 'lambdalisue/vim-findent'

[[plugins]]
repo = 'tweekmonster/helpful.vim'
on_cmd = 'HelpfulVersion'

[[plugins]]
repo = 'machakann/vim-vimhelplint'
on_ft = 'help'
[plugins.ftplugin]
help = '''
  nnoremap <buffer> ,r  <Cmd>VimhelpLint!<CR>
'''

[[plugins]]
repo = 'mattn/vim-goimports'
on_ft = 'go'
hook_source = '''
  let g:goimports_simplify = v:true
'''

[[plugins]]
repo = 'dag/vim2hs'
on_ft = 'haskell'
hook_source = '''
  let g:haskell_conceal = v:false
'''

#[[plugins]]
#repo = 'github/copilot.vim'
#on_cmd = 'Copilot'
#hook_source = '''
#  let g:copilot_no_maps = v:true
#  "let g:copilot_node_command = '/snap/bin/node'
#  let g:copilot_hide_during_completion = 0
#  imap <silent><expr> <C-g> copilot#Accept()
#  imap <silent><expr> <C-n> copilot#Next()
#  imap <silent><expr> <C-p> copilot#Previous()
#
#  let g:copilot_filetypes = #{
#    \   gitcommit: v:true,
#    \   markdown: v:true,
#    \   python: v:true,
#    \   text: v:true,
#    \   typescript: v:true,
#    \   vim: v:true,
#    \   yaml: v:true,
#    \ }
#'''

#[[plugins]]
#repo = 'Exafunction/codeium.vim'
#on_cmd = ['Codeium']
#hook_add = '''
#  nnoremap [Space]ai
#  \ <Cmd>CodeiumEnable<CR><Cmd>echo 'Codeium enabled'<CR>
#'''
#hook_source = '''
#  let g:codeium_disable_bindings = 1
#  let g:codeium_render = v:false
#  let g:codeium_manual = v:true
#
#  "inoremap <expr> <C-g> codeium#Accept()
#  "inoremap <C-x> <Cmd>call codeium#Clear()<CR>
#  inoremap <expr> <C-a>  ddc#map#manual_complete(#{
#    \   sources: ['codeium'],
#    \ })
#
#  let g:codeium_filetypes = #{
#    \   gitcommit: v:true,
#    \   markdown: v:true,
#    \   python: v:true,
#    \   text: v:true,
#    \   typescript: v:true,
#    \   vim: v:true,
#    \   yaml: v:true,
#    \ }
#'''

[[plugins]]
repo = 'tani/dmacro.vim'
on_map = { n = '<C-d>', i = '<C-d>' }
hook_source = '''
  inoremap <C-d> <Plug>(dmacro-play-macro)
  nnoremap <C-d> <Plug>(dmacro-play-macro)
'''
