# {link}[url]text
snippet {}
	{${1:link}}[http://${2:url}]${3}
# {name}[email]text
snippet {@
	{${1:name}}[mailto:${2:email}]${3}
# {link}[local]text
snippet {l
	{${1:link}}[link:${2:local}]${3}
# *bold*
snippet *
	*${1}*${2}
# _emphasis_
snippet _
	_${1}_${2}
# +code+
snippet +
	+${1}+${2}
# === title
snippet 3=
	=== ${1:title}

	${2}
# ==== title
snippet 4=
	==== ${1:title}

	${2}
# ===== title
snippet 5=
	===== ${1:title}

	${2}
# ====== title
snippet 6=
	====== ${1:title}

	${2}
